*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.wrapper{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(gradient2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator_display{
    width: 100%;
    height: 20%;
    padding-left: 15px;
    border: none;
    line-height: 70px;
    font-size: 30px;
    overflow: hidden;
   
}
.calculator_container{
    height: 50%;
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    
}

.button_container{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    
}

button{
    border: none;
    background: transparent;
    color: white;
}

textarea{
    width: 100%;
    height: 20%;
    border: none;
}
